<div class="connect">
          <a href="{{ links.2c7f7157 }}" target="_blank" class="connect-link w-inline-block">
            <div class="connect-icon">{%- image images.63d3600f.url, images.63d3600f.alt, '[{"max":767,"size":"18px"},{"max":991,"size":"2vw"},{"max":10000,"size":"18px"}]', '' -%}</div>
            <div class="connect-link-text">{{ texts.2c9a4253 }}</div>
          </a>
          <a href="{{ links.-7c5ce158 }}" target="_blank" class="connect-link w-inline-block">
            <div class="connect-icon">{%- image images.36c5e456.url, images.36c5e456.alt, '[]', '' -%}</div>
            <div class="connect-link-text">{{ texts.217bfee6 }}</div>
          </a>
          <a href="{{ links.7c9be6d6 }}" target="_blank" class="connect-link w-inline-block">
            <div class="connect-icon">{%- image images.2dcab44e.url, images.2dcab44e.alt, '[]', '' -%}</div>
            <div class="connect-link-text">{{ texts.792b2792 }}</div>
          </a>
        </div>