<div class="consent-box">
    <div class="message-popup">
      <div class="message-text">{{ texts.-31a76c3a }}<a href="{{ links.618fe506 }}">{{ texts.-3fbde6f6 }}</a>{{ texts.574 }}<a href="{{ links.-6debaf14 }}">{{ texts.-5fa6abdd }}</a>{{ texts.574 }}<a href="{{ links.7277c423 }}">{{ texts.-7ac7b766 }}</a>{{ texts.1f0b149 }}<a href="{{ links.6fc2470a }}">{{ texts.-6f68ae45 }}</a>{{ texts.-5868b87c }}</div>
      <a href="{{ links.23 }}" data-w-id="fbf84a1e-bc48-0633-8984-cdc385124854" class="consent-button w-button">{{ texts.50067bf5 }}</a>
    </div>
  </div>