<div data-collapse="medium" data-animation="default" data-duration="400" id="Navigation" data-w-id="5369fe3a-abd1-d8c0-b17e-1fbba3bc9790" role="banner" class="nav-bar-v2 w-nav">
    <a href="{{ links.2f }}" aria-current="page" class="nav-brand-v2 w-nav-brand w--current">{%- image images.-723f224a.url, images.-723f224a.alt, '[]', 'loading="lazy" class="image-5"' -%}</a>
    <div class="nav-space"></div>
    <nav role="navigation" class="nav-menu-v2 w-nav-menu">
      <form action="/search" class="search-form w-form"><input type="search" class="search-form-input w-input" maxlength="256" name="query" placeholder=" Search..." id="search" required=""><input type="submit" value=" " class="search-button w-button"></form>
      <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.2268ff }}</a>
      {%- assign collection = collections.categories -%}<div class="collection-list-wrapper-2 w-dyn-list">
        {%- unless collection.length == 0 -%}<div role="list" class="collection-list-2 w-dyn-items">
          {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
            <a href="{{ item.url }}" class="nav-link w-nav-link">{{ item.data.title }}</a>
          </div>{%- endfor -%}
        </div>{%- endunless -%}
        {%- if collection.length == 0 -%}<div class="w-dyn-empty">
          <div>{{ texts.3d503d2b }}</div>
        </div>{%- endif -%}
      </div>
      <div data-hover="1" data-delay="400" class="dropdown dropdown-big w-dropdown">
        <div class="nav-link w-dropdown-toggle">
          <div>{{ texts.-3be6ddc4 }}</div>
        </div>
        <nav class="dropdown-wrapper w-dropdown-list">
          <div class="dropdown-space"></div>
          <div class="wrapper">
            <div class="dropdown-list big-list">
              {%- assign collection = collections.categories | sort: "title" -%}<div class="dropdown-sidebar w-dyn-list">
                {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                  {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
                    <a href="{{ item.url }}" class="dropdown-sidebar-link">{{ item.data.title }}</a>
                  </div>{%- endfor -%}
                </div>{%- endunless -%}
                {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                  <div>{{ texts.3d503d2b }}</div>
                </div>{%- endif -%}
              </div>
              {%- assign collection = collections.posts | filter: "f_featured,eq,true", "ALL", page.inputPath | sort: "-f_custom-date" | limit: 4 -%}{%- assign pagination = collection | paginate: 6 -%}<div class="dropdown-posts w-dyn-list">
                {%- unless pagination.length == 0 -%}<div role="list" class="dropdown-post-grid w-dyn-items">
                  {%- for item in pagination[0] -%}<div role="listitem" class="w-dyn-item">
                    <div class="post-card">
                      <a href="{{ item.url }}" class="thumbnail-small w-inline-block">
                        {%- assign categoriesOfPosts = item.data.f_category | resolveReference -%}<div class="badge">{{ categoriesOfPosts.data.title }}</div>
                        <div class="thumbnail" style="background-image: url('{{item.data.f_thumbnail-image.url}}')"></div>
                      </a>
                      <a href="{{ item.url }}" class="post-heading-link w-inline-block">
                        <h6 class="post-heading-small">{{ item.data.title }}</h6>
                      </a>
                      <div class="post-info">
                        {%- if item.data.f_custom-date -%}<div class="post-info-block">{%- image images.376e48ce.url, images.376e48ce.alt, '[]', 'class="mini-icon-grey"' -%}
                          <div>{{ item.data.f_custom-date | formatDate: "MMM d, yyyy" }}</div>
                        </div>{%- endif -%}
                        <div class="post-info-block">
                          <div class="divider-small"></div>{%- image images.926fdaa.url, images.926fdaa.alt, '[{"max":10000,"size":"100vw"}]', 'class="mini-icon-grey"' -%}
                          <div>{{ texts.7635fb4f }}</div>
                          <div>{{ texts.55c12744 }}</div>
                        </div>
                      </div>
                    </div>
                  </div>{%- endfor -%}
                </div>{%- endunless -%}
                {%- if pagination.length == 0 -%}<div class="w-dyn-empty">
                  <div>{{ texts.3d503d2b }}</div>
                </div>{%- endif -%}
              </div>
            </div>
          </div>
        </nav>
      </div>
      <a href="{{ links.55b8e8be }}" class="nav-link w-nav-link">{{ texts.3c2336d }}</a>
      <a href="{{ links.4b0e6111 }}" class="nav-link w-nav-link">{{ texts.7f2746de }}</a>
    </nav>
    <div class="nav-right-v2">
      <a href="{{ links.23 }}" data-w-id="5369fe3a-abd1-d8c0-b17e-1fbba3bc97cf" class="button subscribe-button w-button">{{ texts.-69de02d6 }}</a>
    </div>
    <div class="menu-button-v2 w-nav-button">
      <div class="menu-icon">
        <div class="menu-line-top"></div>
        <div class="menu-line-middle"></div>
        <div class="menu-line-bottom"></div>
      </div>
    </div>
    <div data-w-id="5369fe3a-abd1-d8c0-b17e-1fbba3bc97d6" class="menu-button-v2 side-menu-button">
      <div class="menu-icon">
        <div class="menu-line-top"></div>
        <div class="menu-line-middle"></div>
        <div class="menu-line-bottom"></div>
      </div>
    </div>
    <div class="side-menu">
      <div class="sidebar-block">
        <div class="header-block">
          <h4 class="header">{{ texts.-47761f27 }}</h4>
          <div class="header-line"></div>
        </div>
        <div class="w-form">
          <form id="wf-form-Sidebar-Subscribe-Form" name="wf-form-Sidebar-Subscribe-Form" data-name="sidebar_subscribe" class="subscribe-v3-form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
            <div class="subscribe-v3-text">{{ texts.-6f354dfb }}</div>
            <div class="w-layout-grid subscribe-v3-grid"><input type="email" class="input w-input" maxlength="256" name="Sidebar-Subscribe-Email-2" data-name="Sidebar Subscribe Email 2" placeholder="Email address" id="Sidebar-Subscribe-Email-2" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="button w-button"></div>
            <div class="form-info">{{ texts.22c51f36 }}<a href="{{ links.23 }}" class="text-link-dark">{{ texts.-3fbde6f6 }}</a>
            </div>
          </form>
          <div class="form-success w-form-done">
            <div>{{ texts.5a0ea5a1 }}</div>
          </div>
          <div class="form-error w-form-fail">
            <div>{{ texts.-7c112e99 }}</div>
          </div>
        </div>
      </div>
      <div class="sidebar-block">
        <div class="header-block">
          <h4 class="header">{{ texts.27a839 }}</h4>
          <div class="header-line"></div>
        </div>
        {%- assign collection = collections.tags | sort: "title" -%}<div class="w-dyn-list">
          {%- unless collection.length == 0 -%}<div role="list" class="sidebar-tags w-dyn-items">
            {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
              <a href="{{ item.url }}" class="tag">{{ item.data.title }}</a>
            </div>{%- endfor -%}
          </div>{%- endunless -%}
          {%- if collection.length == 0 -%}<div class="w-dyn-empty">
            <div>{{ texts.3d503d2b }}</div>
          </div>{%- endif -%}
        </div>
      </div>
      <div class="sidebar-block">
        <div class="header-block">
          <h4 class="header">{{ texts.-d78b7b2 }}</h4>
          <div class="header-line"></div>
        </div>
        {%- assign collection = collections.posts | filter: "f_featured,eq,true", "ALL", page.inputPath | sort: "-f_custom-date" | limit: 8 -%}{%- assign pagination = collection | paginate: 5 -%}<div class="w-dyn-list">
          {%- unless pagination.length == 0 -%}<div role="list" class="grid-mini-list w-dyn-items">
            {%- for item in pagination[0] -%}<div role="listitem" class="w-dyn-item">
              <div class="post-mini">
                <a href="{{ links.23 }}" class="post-mini-thumbnail w-inline-block">
                  <div class="thumbnail" style="background-image: url('{{item.data.f_thumbnail-image.url}}')"></div>
                </a>
                <div class="post-mini-content">
                  <a href="{{ item.url }}" class="post-heading-link w-inline-block">
                    <h6 class="post-mini-heading side">{{ item.data.title }}</h6>
                  </a>
                  <div class="post-info pop">{%- image images.926fdaa.url, images.926fdaa.alt, '[{"max":991,"size":"14px"},{"max":10000,"size":"1vw"}]', 'class="mini-icon-grey pop"' -%}
                    <div>{{ texts.7635fb4f }}</div>
                    <div>{{ texts.55c12744 }}</div>
                  </div>
                </div>
              </div>
            </div>{%- endfor -%}
          </div>{%- endunless -%}
          {%- if pagination.length == 0 -%}<div class="w-dyn-empty">
            <div>{{ texts.3d503d2b }}</div>
          </div>{%- endif -%}
        </div>
      </div>
    </div>
    <div class="side-menu-overlay"></div>
  </div>