<div class="subscribe-popup">
      <div class="popup">
        <a data-w-id="815c6cd4-8036-9e9d-af11-10e598a3accc" href="{{ links.23 }}" class="close-button w-inline-block">{%- image images.-30789fec.url, images.-30789fec.alt, '[]', '' -%}</a>
        <div class="subscribe-popup-image"></div>
        <div class="popup-info">
          <h3>{{ texts.3467db1 }}<br>{{ texts.-517c2388 }}</h3>
          <p class="paragraph-small text-grey">{{ texts.78d792a3 }}</p>
          <div class="full-width w-form">
            <form id="wf-form-Footer-Form" name="wf-form-Footer-Form" data-name="footer" class="subscribe-popup-grid" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="input w-input" maxlength="256" name="Footer-Subscribe-2" data-name="Footer Subscribe 2" placeholder="Email address" id="Footer-Subscribe-2" required=""><input type="submit" value="Subscribe" class="button w-button">
              <div id="w-node-_3a6d75b8-c251-940d-8ed9-73c31209ac7d-98a3acca" class="form-info">{{ texts.22c51f36 }}<a href="{{ links.618fe506 }}" class="text-link-dark">{{ texts.-3fbde6f6 }}</a>
              </div>
            </form>
            <div class="form-success w-form-done">
              <div>{{ texts.5a0ea5a1 }}</div>
            </div>
            <div class="form-error w-form-fail">
              <div>{{ texts.-7c112e99 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="8320a785-99cd-bbdc-fd84-db16e1cc82eb" class="popup-overlay"></div>
    </div>